<div class="sidebar">

  <div class="logo">

    <span class="logo-icon">📊</span>

    <h2>FinTrack AI</h2>

  </div>

  <nav>

    @for (item of navigation; track item.route) {

      <a
        [routerLink]="item.route"
        routerLinkActive="active">

        <mat-icon>{{ item.icon }}</mat-icon>

        <span>{{ item.label }}</span>

      </a>

    }

  </nav>

  <button
    mat-flat-button
    color="warn"
    class="logout-btn"
    (click)="logout()">

    <mat-icon>logout</mat-icon>

    Logout

  </button>

</div>