<header class="header">

  <div class="header-left">

    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <div class="search-box">
      <mat-icon>search</mat-icon>

      <input
        type="text"
        placeholder="Search transactions, reports..." />
    </div>

  </div>

  <div class="header-right">

    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>

    <div class="profile">

      <div class="avatar">
        H
      </div>

      <div>

        <h4>Hemnath</h4>
        <small>Administrator</small>

      </div>

    </div>

  </div>

</header>